* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #000000;
}
.titulo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center;
}
.header-inicial{
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  display: flex;
  gap: 16px;
  justify-content: space-between;
}